<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskCenter FAQ</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/calendar_styles.css">
</head>

<body>
    <div class="tc-container">
        <header class="tc-header">
            <!-- Navigation Bar -->
            <nav class="tc-nav">
                <ul>
                    <li><a href="/account">Account</a></li>
                    <li><a href="/calendar">Home</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>

            <h1 class="tc-title">TaskCenter</h1>
        </header>

        <header>
            <h2>Frequently Asked Questions</h2>
        </header>

        <b>Why can't I add new tasks to a calendar that was shared with me?</b>
        <p>Inability to add tasks to a calendar means its creator did not give 
            you permission to edit the calendar.</p><br>
        
        <b>How do I delete a calendar?</b>
        <p>At the lower lefthand corner of each calendar besides the default calendar, there's a red button that 
            enables deletion of a calendar. The default calendar cannot be deleted.</p><br>

        <b>How do I share a calendar with another user?</b>
        <p>At the upper righthand corner of the home page, there's a blue button labeled "Share" which
            gives the user options to grant another user access to the calendar. It's necessary to know the email of the 
            user who you want to share a calendar with.</p><br>

    </div> 
    <script src="/scripts/calendar_script.js"></script>
</body>
</html>
