</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/loginstyles.css">
    <title>TaskCenter Login</title>
</head>

<body>
    <div class="login-container">
        <h1>TaskCenter</h1>
        <h2>Log In</h2>
        <form id="loginForm">
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Password" required>
            <a href="#">Forgot my password</a>
             <!--  <p>Don't have an account? <a href="/register">Sign up.</a></p>      --> 
             <a href="/register">Create Account.</a></p>
            <button type="submit">→</button>
        </form>
    </div>
    <script src="script.js"></script>
</body>

</html>