<!DOCTYPE html>
<html lang="en">

<body>
    <div class="container">
        <div class="login-box">
            <h1>TaskCenter</h1>
            <h2>Sign Up</h2>

            <input type="text" id="username-input" placeholder="Username">
            <input type="email" id="signup-email-input" placeholder="Email">
            <input type="password" id="signup-password-input" placeholder="Password">
            <input type="password" id="confirm-password-input" placeholder="Confirm Password">
            <button id="signup-button">Create Account</button>

            <!-- Register buttons -->
            <div class="text-center">
                <p>Already have an account? <a href="/login">Log in here.</a></p>
            </div>
        </div>
    </div>
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TaskCenter - Sign Up</title>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            // Check email function
            function validateEmail(email) {
                var validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
                //check whether the email match the pattern defined 
                return validRegex.test(email);
            }

            $(document).ready(function () {
                $('#signup-button').click(function () {
                    // Retrieve data from form fields
                    var username = $('#username-input').val();
                    var email = $('#signup-email-input').val();
                    var password = $('#signup-password-input').val();
                    var confirmPassword = $('#confirm-password-input').val();

                    // Validate email
                    if (!validateEmail(email)) {
                        alert('Please enter a valid email address.');
                        return;
                    }

                    // Create data object to send
                    var dataToSend = {
                        username: username,
                        email: email,
                        password: password,
                        confirmPassword: confirmPassword
                    };

                    if (password === confirmPassword) {
                        // Make HTTP request to your server
                        $.ajax({
                            type: 'POST',
                            url: '/create-account',
                            contentType: 'application/json',
                            data: JSON.stringify(dataToSend),
                            

                            success: function (response) {
                                // Handle success
                                alert('Account created successfully!');
                                
                                // Redirect to '/login' after 1 seconds
                                setTimeout(function () {
                                    window.location.href = "/login";
                                }, 1000); // milliseconds
                                
                                console.log(response);
                            },

                            error: function (xhr, status, error) {
                                console.error(xhr.responseText);
                                // 400 Bad Request status
                                if (xhr.status == 400) {
                                    // Parse the JSON response from the server and extract the 'message'
                                    var errorMessage = JSON.parse(xhr.responseText).message;
                                    if (errorMessage.includes('Email is not available')) {
                                        alert('This email is already associated with an account.');
                                    } else if (errorMessage.includes('Username is not available')) {
                                        alert('Username already exists.');
                                    } else {
                                        alert('An error occurred: ' + errorMessage);
                                    }
                                } else {
                                    // Display an error message if the server response status is not 400
                                    alert('An error occurred: ' + error);
                                }
                            }
                        });
                    } else {
                        alert('Passwords don\'t match');
                    }
                });
            });
        </script>
    </head>
</body>
</html>
